<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Student Information Collection</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
   <body>
      <div class="container">
         <div class="row">
           <div class="col-8 offset-2"> 
            <div class="container">
               <div class="row">
               <div class="col-12" style="text-align: center;">
                  <h1> haven"t Pick Portfolio ! </h1>
               </div>
               </div>
               <div class="row">
                  <div class="col-12">
                  <form action = "{{ url_for('home') }}" method = "POST">          
                     <div class="form-group"> 
                        <input type="submit" value="Back to Home">
                     </div>                         
                  </form>                  
                  </div>
               </div>
            </div>
            </div>
           </div>
         </div>
       </div>
   </body>
</html>